@model proyecto01.Models.Usuario
@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Crear">
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div>
            <h2>Nuevo Usuario</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="nombres">Nombres</label>
                    <input asp-for="nombres">
                    <span asp-validation-for="nombres" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="apellidos">Apellidos</label>
                    <input asp-for="apellidos">
                    <span asp-validation-for="apellidos" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="usuario">Usuario</label>
                    <input asp-for="usuario">
                    <span asp-validation-for="usuario" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="contraseña">Contraseña</label>
                    <input asp-for="contraseña">
                    <span asp-validation-for="contraseña" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="correo_electronico">Correo Electrónico </label>
                    <input asp-for="correo_electronico">
                    <span asp-validation-for="correo_electronico" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="fecha_nacimiento">Fecha Nacimiento</label>
                    <input asp-for="fecha_nacimiento">
                    <span asp-validation-for="fecha_nacimiento" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="fecha_registro">Fecha Registro</label>
                    <input asp-for="fecha_registro">
                    <span asp-validation-for="fecha_registro" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="estado">Estado</label>
                    <input asp-for="estado">
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <a asp-controller="Usuario" asp-action="Index" class="btn btn-success">Regresar</a>
                </div>
            </div>
        </div>
</form>
@section Scripts{
    @{
        <partial name="_validationScriptsPartial" />
    }

}